# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space
vc_generate_documentation_comments = doxygen_triple_slash

# Xml files
[*.xml]
indent_size = 2
